In [1]:
from chefboost import Chefboost as chef
import pandas as pd

In [4]:
df=pd.read_csv('C:/Users/Admin/Downloads/aml assignment.csv')

In [5]:
df

    Age  Income  Education Bought_Product
0    25   50000  Bachelors             No
1    30   54000    Masters            Yes
2    34   62000        PhD            Yes
3    26   58000  Bachelors             No
4    40   62000    Masters            Yes
5    36   56000  Bachelors             No
6    32   76000        PhD            Yes
7    39   67000    Masters            Yes
8    28   48000  Bachelors             No
9    35   59000    Masters            Yes
10   37   63000        PhD            Yes
11   29   52000  Bachelors             No
12   41   68000    Masters            Yes
13   31   58000        PhD            Yes
14   27   51000  Bachelors             No

In [6]:
config = {'algorithm': 'ID3'}
model = chef.fit(df, target_label = 'Bought_Product')

[INFO]:  2 CPU cores will be allocated in parallel running
ID3  tree is going to be built...
-------------------------
finished in  0.6086564064025879  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  100.0 % on  15  instances
Labels:  ['No' 'Yes']
Confusion matrix:  [[6, 0], [0, 9]]
Precision:  100.0 %, Recall:  100.0 %, F1:  100.0 %

In [8]:
prediction = chef.predict(model, param = ['25', '50000', 'Bachelors'])
prediction

'No'